body, html {
	margin: 0;
	overflow: hidden;
	height: 100%;
	background: #000000;
    background: linear-gradient(to bottom, #000000 0%,#5e5d68 100%);
  	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#000000), color-stop(100%,#5e5d68));
  	background: -webkit-linear-gradient(top, #000000 0%,#5e5d68 100%);
  	background: -moz-linear-gradient(top, #000000 0%, #5e5d68 100%);
  	background: -o-linear-gradient(top, #000000 0%,#5e5d68 100%);
  	background: -ms-linear-gradient(top, #000000 0%,#5e5d68 100%);
  	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#5e5d68',GradientType=0 );
}

div.panel {
	position: fixed;
	top: 50%;
	height: 400px;
	width: 400px;
	margin-top: -200px;
	margin-left: -200px;
	background: #0c67bd;
    background: linear-gradient(to bottom, #0c67bd 0%,#0f4891 100%);
  	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0c67bd), color-stop(100%,#0f4891));
  	background: -webkit-linear-gradient(top, #0c67bd 0%,#0f4891 100%);
  	background: -moz-linear-gradient(top, #0c67bd 0%, #0f4891 100%);
  	background: -o-linear-gradient(top, #0c67bd 0%,#0f4891 100%);
  	background: -ms-linear-gradient(top, #0c67bd 0%,#0f4891 100%);
  	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0c67bd', endColorstr='#0f4891',GradientType=0 );
	box-shadow: 0px 0px 6px 0px #000;
	-webkit-box-shadow: 0px 0px 6px 0px #000;
	-moz-box-shadow: 0px 0px 6px 0px #000;
	-o-box-shadow: 0px 0px 6px 0px #000;
	-ms-box-shadow: 0px 0px 6px 0px #000;
	box-shadow: 0px 0px 6px 0px #000;
	border-radius: 20px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-o-border-radius: 20px;
	-ms-border-radius: 20px;
	border-radius: 20px;
}

p.paneltext {
	color: #fff;
	font-family: serif;
	font-weight: 100;
	font-size: 1.2em;
	margin-left: 25px;
	text-shadow: 1px 0px #333;
}
#one {
	animation: animationone 30s ease-in-out infinite;
	-webkit-animation: animationone 30s ease-in-out infinite;
	-moz-animation: animationone 30s ease-in-out infinite;
	-o-animation: animationone 30s ease-in-out infinite;
	-ms-animation: animationone 30s ease-in-out infinite;
}

#two {
	animation: animationtwo 30s ease-in-out infinite;
	-webkit-animation: animationtwo 30s ease-in-out infinite;
	-moz-animation: animationtwo 30s ease-in-out infinite;
	-o-animation: animationtwo 30s ease-in-out infinite;
	-ms-animation: animationtwo 30s ease-in-out infinite;
}

#three {
	animation: animationthree 30s ease-in-out infinite;
	-webkit-animation: animationthree 30s ease-in-out infinite;
	-moz-animation: animationthree 30s ease-in-out infinite;
	-o-animation: animationthree 30s ease-in-out infinite;
	-ms-animation: animationthree 30s ease-in-out infinite;
}

#four {
	animation: animationfour 30s ease-in-out infinite;
	-webkit-animation: animationfour 30s ease-in-out infinite;
	-moz-animation: animationfour 30s ease-in-out infinite;
	-o-animation: animationfour 30s ease-in-out infinite;
	-ms-animation: animationfour 30s ease-in-out infinite;
}

#five {
	animation: animationfive 30s ease-in-out infinite;
	-webkit-animation: animationfive 30s ease-in-out infinite;
	-moz-animation: animationfive 30s ease-in-out infinite;
	-o-animation: animationfive 30s ease-in-out infinite;
	-ms-animation: animationfive 30s ease-in-out infinite;
}

#six {
	animation: animationsix 30s ease-in-out infinite;
	-webkit-animation: animationsix 30s ease-in-out infinite;
	-moz-animation: animationsix 30s ease-in-out infinite;
	-o-animation: animationsix 30s ease-in-out infinite;
	-ms-animation: animationsix 30s ease-in-out infinite;
}

#seven {
	animation: animationseven 30s ease-in-out infinite;
	-webkit-animation: animationseven 30s ease-in-out infinite;
	-moz-animation: animationseven 30s ease-in-out infinite;
	-o-animation: animationseven 30s ease-in-out infinite;
	-ms-animation: animationseven 30s ease-in-out infinite;
}

#eight {
	animation: animationeight 30s ease-in-out infinite;
	-webkit-animation: animationeight 30s ease-in-out infinite;
	-moz-animation: animationeight 30s ease-in-out infinite;
	-o-animation: animationeight 30s ease-in-out infinite;
	-ms-animation: animationeight 30s ease-in-out infinite;
}

#nine {
	animation: animationnine 30s ease-in-out infinite;
	-webkit-animation: animationnine 30s ease-in-out infinite;
	-moz-animation: animationnine 30s ease-in-out infinite;
	-o-animation: animationnine 30s ease-in-out infinite;
	-ms-animation: animationnine 30s ease-in-out infinite;
}

#ten {
	animation: animationten 30s ease-in-out infinite;
	-webkit-animation: animationten 30s ease-in-out infinite;
	-moz-animation: animationten 30s ease-in-out infinite;
	-o-animation: animationten 30s ease-in-out infinite;
	-ms-animation: animationten 30s ease-in-out infinite;
}

@keyframes animationone {
	0%	{ left:50%; opacity:1; z-index:0; transform:scale(1.4); }
	6%	{ left:50%; opacity:1; z-index:0; transform:scale(1.4); }
	10%	{ left:105%; opacity:1; z-index:0; transform:scale(1); }
	16%	{ left:105%; opacity:1; z-index:0; transform:scale(1); }
	20%	{ left:160%; opacity:1; z-index:0; transform:scale(1); }
	21%	{ left:160%; opacity:0; z-index:-1; transform:scale(1); }
	22%	{ left:-40%; opacity:0; z-index:-1; transform:scale(1); }
	25%	{ left:-40%; opacity:1; z-index:0; transform:scale(1); }
	86%	{ left:-40%; opacity:1; z-index:0; transform:scale(1); }
	90%	{ left:-5%; opacity:1; z-index:0; transform:scale(1); }
	96%	{ left:-5%; opacity:1; z-index:0; transform:scale(1); }
	100%	{ left:50%; opacity:1; z-index:0; transform:scale(1.4); }
}

@-webkit-keyframes animationone {
	0%	{ left:50%; opacity:1; z-index:0; -webkit-transform:scale(1.4); }
	6%	{ left:50%; opacity:1; z-index:0; -webkit-transform:scale(1.4); }
	10%	{ left:105%; opacity:1; z-index:0; -webkit-transform:scale(1); }
	16%	{ left:105%; opacity:1; z-index:0; -webkit-transform:scale(1); }
	20%	{ left:160%; opacity:1; z-index:0; -webkit-transform:scale(1); }
	21%	{ left:160%; opacity:0; z-index:-1; -webkit-transform:scale(1); }
	22%	{ left:-40%; opacity:0; z-index:-1; -webkit-transform:scale(1); }
	25%	{ left:-40%; opacity:1; z-index:0; -webkit-transform:scale(1); }
	86%	{ left:-40%; opacity:1; z-index:0; -webkit-transform:scale(1); }
	90%	{ left:-5%; opacity:1; z-index:0; -webkit-transform:scale(1); }
	96%	{ left:-5%; opacity:1; z-index:0; -webkit-transform:scale(1); }
	100%	{ left:50%; opacity:1; z-index:0; -webkit-transform:scale(1.4); }
}

@-moz-keyframes animationone {
	0%	{ left:50%; opacity:1; z-index:0; -moz-transform:scale(1.4); }
	6%	{ left:50%; opacity:1; z-index:0; -moz-transform:scale(1.4); }
	10%	{ left:105%; opacity:1; z-index:0; -moz-transform:scale(1); }
	16%	{ left:105%; opacity:1; z-index:0; -moz-transform:scale(1); }
	20%	{ left:160%; opacity:1; z-index:0; -moz-transform:scale(1); }
	21%	{ left:160%; opacity:0; z-index:-1; -moz-transform:scale(1); }
	22%	{ left:-40%; opacity:0; z-index:-1; -moz-transform:scale(1); }
	25%	{ left:-40%; opacity:1; z-index:0; -moz-transform:scale(1); }
	86%	{ left:-40%; opacity:1; z-index:0; -moz-transform:scale(1); }
	90%	{ left:-5%; opacity:1; z-index:0; -moz-transform:scale(1); }
	96%	{ left:-5%; opacity:1; z-index:0; -moz-transform:scale(1); }
	100%	{ left:50%; opacity:1; z-index:0; -moz-transform:scale(1.4); }
}

@-o-keyframes animationone {
	0%	{ left:50%; opacity:1; z-index:0; -o-transform:scale(1.4); }
	6%	{ left:50%; opacity:1; z-index:0; -o-transform:scale(1.4); }
	10%	{ left:105%; opacity:1; z-index:0; -o-transform:scale(1); }
	16%	{ left:105%; opacity:1; z-index:0; -o-transform:scale(1); }
	20%	{ left:160%; opacity:1; z-index:0; -o-transform:scale(1); }
	21%	{ left:160%; opacity:0; z-index:-1; -o-transform:scale(1); }
	22%	{ left:-40%; opacity:0; z-index:-1; -o-transform:scale(1); }
	25%	{ left:-40%; opacity:1; z-index:0; -o-transform:scale(1); }
	86%	{ left:-40%; opacity:1; z-index:0; -o-transform:scale(1); }
	90%	{ left:-5%; opacity:1; z-index:0; -o-transform:scale(1); }
	96%	{ left:-5%; opacity:1; z-index:0; -o-transform:scale(1); }
	100%	{ left:50%; opacity:1; z-index:0; -o-transform:scale(1.4); }
}

@-ms-keyframes animationone {
	0%	{ left:50%; opacity:1; z-index:0; -ms-transform:scale(1.4); }
	6%	{ left:50%; opacity:1; z-index:0; -ms-transform:scale(1.4); }
	10%	{ left:105%; opacity:1; z-index:0; -ms-transform:scale(1); }
	16%	{ left:105%; opacity:1; z-index:0; -ms-transform:scale(1); }
	20%	{ left:160%; opacity:1; z-index:0; -ms-transform:scale(1); }
	21%	{ left:160%; opacity:0; z-index:-1; -ms-transform:scale(1); }
	22%	{ left:-40%; opacity:0; z-index:-1; -ms-transform:scale(1); }
	25%	{ left:-40%; opacity:1; z-index:0; -ms-transform:scale(1); }
	86%	{ left:-40%; opacity:1; z-index:0; -ms-transform:scale(1); }
	90%	{ left:-5%; opacity:1; z-index:0; -ms-transform:scale(1); }
	96%	{ left:-5%; opacity:1; z-index:0; -ms-transform:scale(1); }
	100%	{ left:50%; opacity:1; z-index:0; -ms-transform:scale(1.4); }
}

@keyframes animationtwo {
	0%	{ left:-5%; opacity:1; z-index:0; transform:scale(1); }
	6%	{ left:-5%; opacity:1; z-index:0; transform:scale(1); }
	10%	{ left:50%; opacity:1; z-index:0; transform:scale(1.4); }
	16%	{ left:50%; opacity:1; z-index:0; transform:scale(1.4); }
	20%	{ left:105%; opacity:1; z-index:0; transform:scale(1); }
	26%	{ left:105%; opacity:1; z-index:0; transform:scale(1); }
	30%	{ left:160%; opacity:1; z-index:0; transform:scale(1); }
	31%	{ left:160%; opacity:0; z-index:-1; transform:scale(1); }
	32%	{ left:-40%; opacity:0; z-index:-1; transform:scale(1); }
	33%	{ left:-40%; opacity:1; z-index:0; transform:scale(1); }
	96%	{ left:-40%; opacity:1; z-index:0; transform:scale(1); }
	100%	{ left:-5%; opacity:1; z-index:0; transform:scale(1); }
}

@-webkit-keyframes animationtwo {
	0%	{ left:-5%; opacity:1; z-index:0; -webkit-transform:scale(1); }
	6%	{ left:-5%; opacity:1; z-index:0; -webkit-transform:scale(1); }
	10%	{ left:50%; opacity:1; z-index:0; -webkit-transform:scale(1.4); }
	16%	{ left:50%; opacity:1; z-index:0; -webkit-transform:scale(1.4); }
	20%	{ left:105%; opacity:1; z-index:0; -webkit-transform:scale(1); }
	26%	{ left:105%; opacity:1; z-index:0; -webkit-transform:scale(1); }
	30%	{ left:160%; opacity:1; z-index:0; -webkit-transform:scale(1); }
	31%	{ left:160%; opacity:0; z-index:-1; -webkit-transform:scale(1); }
	32%	{ left:-40%; opacity:0; z-index:-1; -webkit-transform:scale(1); }
	33%	{ left:-40%; opacity:1; z-index:0; -webkit-transform:scale(1); }
	96%	{ left:-40%; opacity:1; z-index:0; -webkit-transform:scale(1); }
	100%	{ left:-5%; opacity:1; z-index:0; -webkit-transform:scale(1); }
}

@-moz-keyframes animationtwo {
	0%	{ left:-5%; opacity:1; z-index:0; -moz-transform:scale(1); }
	6%	{ left:-5%; opacity:1; z-index:0; -moz-transform:scale(1); }
	10%	{ left:50%; opacity:1; z-index:0; -moz-transform:scale(1.4); }
	16%	{ left:50%; opacity:1; z-index:0; -moz-transform:scale(1.4); }
	20%	{ left:105%; opacity:1; z-index:0; -moz-transform:scale(1); }
	26%	{ left:105%; opacity:1; z-index:0; -moz-transform:scale(1); }
	30%	{ left:160%; opacity:1; z-index:0; -moz-transform:scale(1); }
	31%	{ left:160%; opacity:0; z-index:-1; -moz-transform:scale(1); }
	32%	{ left:-40%; opacity:0; z-index:-1; -moz-transform:scale(1); }
	33%	{ left:-40%; opacity:1; z-index:0; -moz-transform:scale(1); }
	96%	{ left:-40%; opacity:1; z-index:0; -moz-transform:scale(1); }
	100%	{ left:-5%; opacity:1; z-index:0; -moz-transform:scale(1); }
}

@-o-keyframes animationtwo {
	0%	{ left:-5%; opacity:1; z-index:0; -o-transform:scale(1); }
	6%	{ left:-5%; opacity:1; z-index:0; -o-transform:scale(1); }
	10%	{ left:50%; opacity:1; z-index:0; -o-transform:scale(1.4); }
	16%	{ left:50%; opacity:1; z-index:0; -o-transform:scale(1.4); }
	20%	{ left:105%; opacity:1; z-index:0; -o-transform:scale(1); }
	26%	{ left:105%; opacity:1; z-index:0; -o-transform:scale(1); }
	30%	{ left:160%; opacity:1; z-index:0; -o-transform:scale(1); }
	31%	{ left:160%; opacity:0; z-index:-1; -o-transform:scale(1); }
	32%	{ left:-40%; opacity:0; z-index:-1; -o-transform:scale(1); }
	33%	{ left:-40%; opacity:1; z-index:0; -o-transform:scale(1); }
	96%	{ left:-40%; opacity:1; z-index:0; -o-transform:scale(1); }
	100%	{ left:-5%; opacity:1; z-index:0; -o-transform:scale(1); }
}

@-ms-keyframes animationtwo {
	0%	{ left:-5%; opacity:1; z-index:0; -ms-transform:scale(1); }
	6%	{ left:-5%; opacity:1; z-index:0; -ms-transform:scale(1); }
	10%	{ left:50%; opacity:1; z-index:0; -ms-transform:scale(1.4); }
	16%	{ left:50%; opacity:1; z-index:0; -ms-transform:scale(1.4); }
	20%	{ left:105%; opacity:1; z-index:0; -ms-transform:scale(1); }
	26%	{ left:105%; opacity:1; z-index:0; -ms-transform:scale(1); }
	30%	{ left:160%; opacity:1; z-index:0; -ms-transform:scale(1); }
	31%	{ left:160%; opacity:0; z-index:-1; -ms-transform:scale(1); }
	32%	{ left:-40%; opacity:0; z-index:-1; -ms-transform:scale(1); }
	33%	{ left:-40%; opacity:1; z-index:0; -ms-transform:scale(1); }
	96%	{ left:-40%; opacity:1; z-index:0; -ms-transform:scale(1); }
	100%	{ left:-5%; opacity:1; z-index:0; -ms-transform:scale(1); }
}

@keyframes animationthree {
	0%	{ left:-40%; opacity:1; z-index:0; transform:scale(1); }
	6%	{ left:-40%; opacity:1; z-index:0; transform:scale(1); }
	10%	{ left:-5%; opacity:1; z-index:0; transform:scale(1); }
	16%	{ left:-5%; opacity:1; z-index:0; transform:scale(1); }
	20%	{ left:50%; opacity:1; z-index:0; transform:scale(1.4); }
	26%	{ left:50%; opacity:1; z-index:0; transform:scale(1.4); }
	30%	{ left:105%; opacity:1; z-index:0; transform:scale(1); }
	36%	{ left:105%; opacity:1; z-index:0; transform:scale(1); }
	40%	{ left:160%; opacity:1; z-index:0; transform:scale(1); }
	41%	{ left:160%; opacity:0; z-index:-1; transform:scale(1); }
	42%	{ left:-40%; opacity:0; z-index:-1; transform:scale(1); }
	43%	{ left:-40%; opacity:1; z-index:0; transform:scale(1); }
	100%	{ left:-40%; opacity:1; z-index:0; transform:scale(1); }
}

@-webkit-keyframes animationthree {
	0%	{ left:-40%; opacity:1; z-index:0; -webkit-transform:scale(1); }
	6%	{ left:-40%; opacity:1; z-index:0; -webkit-transform:scale(1); }
	10%	{ left:-5%; opacity:1; z-index:0; -webkit-transform:scale(1); }
	16%	{ left:-5%; opacity:1; z-index:0; -webkit-transform:scale(1); }
	20%	{ left:50%; opacity:1; z-index:0; -webkit-transform:scale(1.4); }
	26%	{ left:50%; opacity:1; z-index:0; -webkit-transform:scale(1.4); }
	30%	{ left:105%; opacity:1; z-index:0; -webkit-transform:scale(1); }
	36%	{ left:105%; opacity:1; z-index:0; -webkit-transform:scale(1); }
	40%	{ left:160%; opacity:1; z-index:0; -webkit-transform:scale(1); }
	41%	{ left:160%; opacity:0; z-index:-1; -webkit-transform:scale(1); }
	42%	{ left:-40%; opacity:0; z-index:-1; -webkit-transform:scale(1); }
	43%	{ left:-40%; opacity:1; z-index:0; -webkit-transform:scale(1); }
	100%	{ left:-40%; opacity:1; z-index:0; -webkit-transform:scale(1); }
}

@-moz-keyframes animationthree {
	0%	{ left:-40%; opacity:1; z-index:0; -moz-transform:scale(1); }
	6%	{ left:-40%; opacity:1; z-index:0; -moz-transform:scale(1); }
	10%	{ left:-5%; opacity:1; z-index:0; -moz-transform:scale(1); }
	16%	{ left:-5%; opacity:1; z-index:0; -moz-transform:scale(1); }
	20%	{ left:50%; opacity:1; z-index:0; -moz-transform:scale(1.4); }
	26%	{ left:50%; opacity:1; z-index:0; -moz-transform:scale(1.4); }
	30%	{ left:105%; opacity:1; z-index:0; -moz-transform:scale(1); }
	36%	{ left:105%; opacity:1; z-index:0; -moz-transform:scale(1); }
	40%	{ left:160%; opacity:1; z-index:0; -moz-transform:scale(1); }
	41%	{ left:160%; opacity:0; z-index:-1; -moz-transform:scale(1); }
	42%	{ left:-40%; opacity:0; z-index:-1; -moz-transform:scale(1); }
	43%	{ left:-40%; opacity:1; z-index:0; -moz-transform:scale(1); }
	100%	{ left:-40%; opacity:1; z-index:0; -moz-transform:scale(1); }
}

@-o-keyframes animationthree {
	0%	{ left:-40%; opacity:1; z-index:0; -o-transform:scale(1); }
	6%	{ left:-40%; opacity:1; z-index:0; -o-transform:scale(1); }
	10%	{ left:-5%; opacity:1; z-index:0; -o-transform:scale(1); }
	16%	{ left:-5%; opacity:1; z-index:0; -o-transform:scale(1); }
	20%	{ left:50%; opacity:1; z-index:0; -o-transform:scale(1.4); }
	26%	{ left:50%; opacity:1; z-index:0; -o-transform:scale(1.4); }
	30%	{ left:105%; opacity:1; z-index:0; -o-transform:scale(1); }
	36%	{ left:105%; opacity:1; z-index:0; -o-transform:scale(1); }
	40%	{ left:160%; opacity:1; z-index:0; -o-transform:scale(1); }
	41%	{ left:160%; opacity:0; z-index:-1; -o-transform:scale(1); }
	42%	{ left:-40%; opacity:0; z-index:-1; -o-transform:scale(1); }
	43%	{ left:-40%; opacity:1; z-index:0; -o-transform:scale(1); }
	100%	{ left:-40%; opacity:1; z-index:0; -o-transform:scale(1); }
}

@-ms-keyframes animationthree {
	0%	{ left:-40%; opacity:1; z-index:0; -ms-transform:scale(1); }
	6%	{ left:-40%; opacity:1; z-index:0; -ms-transform:scale(1); }
	10%	{ left:-5%; opacity:1; z-index:0; -ms-transform:scale(1); }
	16%	{ left:-5%; opacity:1; z-index:0; -ms-transform:scale(1); }
	20%	{ left:50%; opacity:1; z-index:0; -ms-transform:scale(1.4); }
	26%	{ left:50%; opacity:1; z-index:0; -ms-transform:scale(1.4); }
	30%	{ left:105%; opacity:1; z-index:0; -ms-transform:scale(1); }
	36%	{ left:105%; opacity:1; z-index:0; -ms-transform:scale(1); }
	40%	{ left:160%; opacity:1; z-index:0; -ms-transform:scale(1); }
	41%	{ left:160%; opacity:0; z-index:-1; -ms-transform:scale(1); }
	42%	{ left:-40%; opacity:0; z-index:-1; -ms-transform:scale(1); }
	43%	{ left:-40%; opacity:1; z-index:0; -ms-transform:scale(1); }
	100%	{ left:-40%; opacity:1; z-index:0; -ms-transform:scale(1); }
}

@keyframes animationfour {
	0%	{ left:-40%; opacity:1; z-index:0; transform:scale(1); }
	16%	{ left:-40%; opacity:1; z-index:0; transform:scale(1); }
	20%	{ left:-5%; opacity:1; z-index:0; transform:scale(1); }
	26%	{ left:-5%; opacity:1; z-index:0; transform:scale(1); }
	30%	{ left:50%; opacity:1; z-index:0; transform:scale(1.4); }
	36%	{ left:50%; opacity:1; z-index:0; transform:scale(1.4); }
	40%	{ left:105%; opacity:1; z-index:0; transform:scale(1); }
	46%	{ left:105%; opacity:1; z-index:0; transform:scale(1); }
	50%	{ left:160%; opacity:1; z-index:0; transform:scale(1); }
	51%	{ left:160%; opacity:0; z-index:-1; transform:scale(1); }
	52%	{ left:-40%; opacity:0; z-index:-1; transform:scale(1); }
	53%	{ left:-40%; opacity:1; z-index:0; transform:scale(1); }
	100%	{ left:-40%; opacity:1; z-index:0; transform:scale(1); }
}

@-webkit-keyframes animationfour {
	0%	{ left:-40%; opacity:1; z-index:0; -webkit-transform:scale(1); }
	16%	{ left:-40%; opacity:1; z-index:0; -webkit-transform:scale(1); }
	20%	{ left:-5%; opacity:1; z-index:0; -webkit-transform:scale(1); }
	26%	{ left:-5%; opacity:1; z-index:0; -webkit-transform:scale(1); }
	30%	{ left:50%; opacity:1; z-index:0; -webkit-transform:scale(1.4); }
	36%	{ left:50%; opacity:1; z-index:0; -webkit-transform:scale(1.4); }
	40%	{ left:105%; opacity:1; z-index:0; -webkit-transform:scale(1); }
	46%	{ left:105%; opacity:1; z-index:0; -webkit-transform:scale(1); }
	50%	{ left:160%; opacity:1; z-index:0; -webkit-transform:scale(1); }
	51%	{ left:160%; opacity:0; z-index:-1; -webkit-transform:scale(1); }
	52%	{ left:-40%; opacity:0; z-index:-1; -webkit-transform:scale(1); }
	53%	{ left:-40%; opacity:1; z-index:0; -webkit-transform:scale(1); }
	100%	{ left:-40%; opacity:1; z-index:0; -webkit-transform:scale(1); }
}

@-moz-keyframes animationfour {
	0%	{ left:-40%; opacity:1; z-index:0; -moz-transform:scale(1); }
	16%	{ left:-40%; opacity:1; z-index:0; -moz-transform:scale(1); }
	20%	{ left:-5%; opacity:1; z-index:0; -moz-transform:scale(1); }
	26%	{ left:-5%; opacity:1; z-index:0; -moz-transform:scale(1); }
	30%	{ left:50%; opacity:1; z-index:0; -moz-transform:scale(1.4); }
	36%	{ left:50%; opacity:1; z-index:0; -moz-transform:scale(1.4); }
	40%	{ left:105%; opacity:1; z-index:0; -moz-transform:scale(1); }
	46%	{ left:105%; opacity:1; z-index:0; -moz-transform:scale(1); }
	50%	{ left:160%; opacity:1; z-index:0; -moz-transform:scale(1); }
	51%	{ left:160%; opacity:0; z-index:-1; -moz-transform:scale(1); }
	52%	{ left:-40%; opacity:0; z-index:-1; -moz-transform:scale(1); }
	53%	{ left:-40%; opacity:1; z-index:0; -moz-transform:scale(1); }
	100%	{ left:-40%; opacity:1; z-index:0; -moz-transform:scale(1); }
}

@-o-keyframes animationfour {
	0%	{ left:-40%; opacity:1; z-index:0; -o-transform:scale(1); }
	16%	{ left:-40%; opacity:1; z-index:0; -o-transform:scale(1); }
	20%	{ left:-5%; opacity:1; z-index:0; -o-transform:scale(1); }
	26%	{ left:-5%; opacity:1; z-index:0; -o-transform:scale(1); }
	30%	{ left:50%; opacity:1; z-index:0; -o-transform:scale(1.4); }
	36%	{ left:50%; opacity:1; z-index:0; -o-transform:scale(1.4); }
	40%	{ left:105%; opacity:1; z-index:0; -o-transform:scale(1); }
	46%	{ left:105%; opacity:1; z-index:0; -o-transform:scale(1); }
	50%	{ left:160%; opacity:1; z-index:0; -o-transform:scale(1); }
	51%	{ left:160%; opacity:0; z-index:-1; -o-transform:scale(1); }
	52%	{ left:-40%; opacity:0; z-index:-1; -o-transform:scale(1); }
	53%	{ left:-40%; opacity:1; z-index:0; -o-transform:scale(1); }
	100%	{ left:-40%; opacity:1; z-index:0; -o-transform:scale(1); }
}

@-ms-keyframes animationfour {
	0%	{ left:-40%; opacity:1; z-index:0; -ms-transform:scale(1); }
	16%	{ left:-40%; opacity:1; z-index:0; -ms-transform:scale(1); }
	20%	{ left:-5%; opacity:1; z-index:0; -ms-transform:scale(1); }
	26%	{ left:-5%; opacity:1; z-index:0; -ms-transform:scale(1); }
	30%	{ left:50%; opacity:1; z-index:0; -ms-transform:scale(1.4); }
	36%	{ left:50%; opacity:1; z-index:0; -ms-transform:scale(1.4); }
	40%	{ left:105%; opacity:1; z-index:0; -ms-transform:scale(1); }
	46%	{ left:105%; opacity:1; z-index:0; -ms-transform:scale(1); }
	50%	{ left:160%; opacity:1; z-index:0; -ms-transform:scale(1); }
	51%	{ left:160%; opacity:0; z-index:-1; -ms-transform:scale(1); }
	52%	{ left:-40%; opacity:0; z-index:-1; -ms-transform:scale(1); }
	53%	{ left:-40%; opacity:1; z-index:0; -ms-transform:scale(1); }
	100%	{ left:-40%; opacity:1; z-index:0; -ms-transform:scale(1); }
}

@keyframes animationfive {
	0%	{ left:-40%; opacity:1; z-index:0; transform:scale(1); }
	26%	{ left:-40%; opacity:1; z-index:0; transform:scale(1); }
	30%	{ left:-5%; opacity:1; z-index:0; transform:scale(1); }
	36%	{ left:-5%; opacity:1; z-index:0; transform:scale(1); }
	40%	{ left:50%; opacity:1; z-index:0; transform:scale(1.4); }
	46%	{ left:50%; opacity:1; z-index:0; transform:scale(1.4); }
	50%	{ left:105%; opacity:1; z-index:0; transform:scale(1); }
	56%	{ left:105%; opacity:1; z-index:0; transform:scale(1); }
	60%	{ left:160%; opacity:1; z-index:0; transform:scale(1); }
	61%	{ left:160%; opacity:0; z-index:-1; transform:scale(1); }
	62%	{ left:-40%; opacity:0; z-index:-1; transform:scale(1); }
	63%	{ left:-40%; opacity:1; z-index:0; transform:scale(1); }
	100%	{ left:-40%; opacity:1; z-index:0; transform:scale(1); }
}

@-webkit-keyframes animationfive {
	0%	{ left:-40%; opacity:1; z-index:0; -webkit-transform:scale(1); }
	26%	{ left:-40%; opacity:1; z-index:0; -webkit-transform:scale(1); }
	30%	{ left:-5%; opacity:1; z-index:0; -webkit-transform:scale(1); }
	36%	{ left:-5%; opacity:1; z-index:0; -webkit-transform:scale(1); }
	40%	{ left:50%; opacity:1; z-index:0; -webkit-transform:scale(1.4); }
	46%	{ left:50%; opacity:1; z-index:0; -webkit-transform:scale(1.4); }
	50%	{ left:105%; opacity:1; z-index:0; -webkit-transform:scale(1); }
	56%	{ left:105%; opacity:1; z-index:0; -webkit-transform:scale(1); }
	60%	{ left:160%; opacity:1; z-index:0; -webkit-transform:scale(1); }
	61%	{ left:160%; opacity:0; z-index:-1; -webkit-transform:scale(1); }
	62%	{ left:-40%; opacity:0; z-index:-1; -webkit-transform:scale(1); }
	63%	{ left:-40%; opacity:1; z-index:0; -webkit-transform:scale(1); }
	100%	{ left:-40%; opacity:1; z-index:0; -webkit-transform:scale(1); }
}

@-moz-keyframes animationfive {
	0%	{ left:-40%; opacity:1; z-index:0; -moz-transform:scale(1); }
	26%	{ left:-40%; opacity:1; z-index:0; -moz-transform:scale(1); }
	30%	{ left:-5%; opacity:1; z-index:0; -moz-transform:scale(1); }
	36%	{ left:-5%; opacity:1; z-index:0; -moz-transform:scale(1); }
	40%	{ left:50%; opacity:1; z-index:0; -moz-transform:scale(1.4); }
	46%	{ left:50%; opacity:1; z-index:0; -moz-transform:scale(1.4); }
	50%	{ left:105%; opacity:1; z-index:0; -moz-transform:scale(1); }
	56%	{ left:105%; opacity:1; z-index:0; -moz-transform:scale(1); }
	60%	{ left:160%; opacity:1; z-index:0; -moz-transform:scale(1); }
	61%	{ left:160%; opacity:0; z-index:-1; -moz-transform:scale(1); }
	62%	{ left:-40%; opacity:0; z-index:-1; -moz-transform:scale(1); }
	63%	{ left:-40%; opacity:1; z-index:0; -moz-transform:scale(1); }
	100%	{ left:-40%; opacity:1; z-index:0; -moz-transform:scale(1); }
}

@-o-keyframes animationfive {
	0%	{ left:-40%; opacity:1; z-index:0; -o-transform:scale(1); }
	26%	{ left:-40%; opacity:1; z-index:0; -o-transform:scale(1); }
	30%	{ left:-5%; opacity:1; z-index:0; -o-transform:scale(1); }
	36%	{ left:-5%; opacity:1; z-index:0; -o-transform:scale(1); }
	40%	{ left:50%; opacity:1; z-index:0; -o-transform:scale(1.4); }
	46%	{ left:50%; opacity:1; z-index:0; -o-transform:scale(1.4); }
	50%	{ left:105%; opacity:1; z-index:0; -o-transform:scale(1); }
	56%	{ left:105%; opacity:1; z-index:0; -o-transform:scale(1); }
	60%	{ left:160%; opacity:1; z-index:0; -o-transform:scale(1); }
	61%	{ left:160%; opacity:0; z-index:-1; -o-transform:scale(1); }
	62%	{ left:-40%; opacity:0; z-index:-1; -o-transform:scale(1); }
	63%	{ left:-40%; opacity:1; z-index:0; -o-transform:scale(1); }
	100%	{ left:-40%; opacity:1; z-index:0; -o-transform:scale(1); }
}

@-ms-keyframes animationfive {
	0%	{ left:-40%; opacity:1; z-index:0; -ms-transform:scale(1); }
	26%	{ left:-40%; opacity:1; z-index:0; -ms-transform:scale(1); }
	30%	{ left:-5%; opacity:1; z-index:0; -ms-transform:scale(1); }
	36%	{ left:-5%; opacity:1; z-index:0; -ms-transform:scale(1); }
	40%	{ left:50%; opacity:1; z-index:0; -ms-transform:scale(1.4); }
	46%	{ left:50%; opacity:1; z-index:0; -ms-transform:scale(1.4); }
	50%	{ left:105%; opacity:1; z-index:0; -ms-transform:scale(1); }
	56%	{ left:105%; opacity:1; z-index:0; -ms-transform:scale(1); }
	60%	{ left:160%; opacity:1; z-index:0; -ms-transform:scale(1); }
	61%	{ left:160%; opacity:0; z-index:-1; -ms-transform:scale(1); }
	62%	{ left:-40%; opacity:0; z-index:-1; -ms-transform:scale(1); }
	63%	{ left:-40%; opacity:1; z-index:0; -ms-transform:scale(1); }
	100%	{ left:-40%; opacity:1; z-index:0; -ms-transform:scale(1); }
}

@keyframes animationsix {
	0%	{ left:-40%; opacity:1; z-index:0; transform:scale(1); }
	36%	{ left:-40%; opacity:1; z-index:0; transform:scale(1); }
	40%	{ left:-5%; opacity:1; z-index:0; transform:scale(1); }
	46%	{ left:-5%; opacity:1; z-index:0; transform:scale(1); }
	50%	{ left:50%; opacity:1; z-index:0; transform:scale(1.4); }
	56%	{ left:50%; opacity:1; z-index:0; transform:scale(1.4); }
	60%	{ left:105%; opacity:1; z-index:0; transform:scale(1); }
	66%	{ left:105%; opacity:1; z-index:0; transform:scale(1); }
	70%	{ left:160%; opacity:1; z-index:0; transform:scale(1); }
	71%	{ left:160%; opacity:0; z-index:-1; transform:scale(1); }
	72%	{ left:-40%; opacity:0; z-index:-1; transform:scale(1); }
	73%	{ left:-40%; opacity:1; z-index:0; transform:scale(1); }
	100%	{ left:-40%; opacity:1; z-index:0; transform:scale(1); }
}

@-webkit-keyframes animationsix {
	0%	{ left:-40%; opacity:1; z-index:0; -webkit-transform:scale(1); }
	36%	{ left:-40%; opacity:1; z-index:0; -webkit-transform:scale(1); }
	40%	{ left:-5%; opacity:1; z-index:0; -webkit-transform:scale(1); }
	46%	{ left:-5%; opacity:1; z-index:0; -webkit-transform:scale(1); }
	50%	{ left:50%; opacity:1; z-index:0; -webkit-transform:scale(1.4); }
	56%	{ left:50%; opacity:1; z-index:0; -webkit-transform:scale(1.4); }
	60%	{ left:105%; opacity:1; z-index:0; -webkit-transform:scale(1); }
	66%	{ left:105%; opacity:1; z-index:0; -webkit-transform:scale(1); }
	70%	{ left:160%; opacity:1; z-index:0; -webkit-transform:scale(1); }
	71%	{ left:160%; opacity:0; z-index:-1; -webkit-transform:scale(1); }
	72%	{ left:-40%; opacity:0; z-index:-1; -webkit-transform:scale(1); }
	73%	{ left:-40%; opacity:1; z-index:0; -webkit-transform:scale(1); }
	100%	{ left:-40%; opacity:1; z-index:0; -webkit-transform:scale(1); }
}

@-moz-keyframes animationsix {
	0%	{ left:-40%; opacity:1; z-index:0; -moz-transform:scale(1); }
	36%	{ left:-40%; opacity:1; z-index:0; -moz-transform:scale(1); }
	40%	{ left:-5%; opacity:1; z-index:0; -moz-transform:scale(1); }
	46%	{ left:-5%; opacity:1; z-index:0; -moz-transform:scale(1); }
	50%	{ left:50%; opacity:1; z-index:0; -moz-transform:scale(1.4); }
	56%	{ left:50%; opacity:1; z-index:0; -moz-transform:scale(1.4); }
	60%	{ left:105%; opacity:1; z-index:0; -moz-transform:scale(1); }
	66%	{ left:105%; opacity:1; z-index:0; -moz-transform:scale(1); }
	70%	{ left:160%; opacity:1; z-index:0; -moz-transform:scale(1); }
	71%	{ left:160%; opacity:0; z-index:-1; -moz-transform:scale(1); }
	72%	{ left:-40%; opacity:0; z-index:-1; -moz-transform:scale(1); }
	73%	{ left:-40%; opacity:1; z-index:0; -moz-transform:scale(1); }
	100%	{ left:-40%; opacity:1; z-index:0; -moz-transform:scale(1); }
}

@-o-keyframes animationsix {
	0%	{ left:-40%; opacity:1; z-index:0; -o-transform:scale(1); }
	36%	{ left:-40%; opacity:1; z-index:0; -o-transform:scale(1); }
	40%	{ left:-5%; opacity:1; z-index:0; -o-transform:scale(1); }
	46%	{ left:-5%; opacity:1; z-index:0; -o-transform:scale(1); }
	50%	{ left:50%; opacity:1; z-index:0; -o-transform:scale(1.4); }
	56%	{ left:50%; opacity:1; z-index:0; -o-transform:scale(1.4); }
	60%	{ left:105%; opacity:1; z-index:0; -o-transform:scale(1); }
	66%	{ left:105%; opacity:1; z-index:0; -o-transform:scale(1); }
	70%	{ left:160%; opacity:1; z-index:0; -o-transform:scale(1); }
	71%	{ left:160%; opacity:0; z-index:-1; -o-transform:scale(1); }
	72%	{ left:-40%; opacity:0; z-index:-1; -o-transform:scale(1); }
	73%	{ left:-40%; opacity:1; z-index:0; -o-transform:scale(1); }
	100%	{ left:-40%; opacity:1; z-index:0; -o-transform:scale(1); }
}

@-ms-keyframes animationsix {
	0%	{ left:-40%; opacity:1; z-index:0; -ms-transform:scale(1); }
	36%	{ left:-40%; opacity:1; z-index:0; -ms-transform:scale(1); }
	40%	{ left:-5%; opacity:1; z-index:0; -ms-transform:scale(1); }
	46%	{ left:-5%; opacity:1; z-index:0; -ms-transform:scale(1); }
	50%	{ left:50%; opacity:1; z-index:0; -ms-transform:scale(1.4); }
	56%	{ left:50%; opacity:1; z-index:0; -ms-transform:scale(1.4); }
	60%	{ left:105%; opacity:1; z-index:0; -ms-transform:scale(1); }
	66%	{ left:105%; opacity:1; z-index:0; -ms-transform:scale(1); }
	70%	{ left:160%; opacity:1; z-index:0; -ms-transform:scale(1); }
	71%	{ left:160%; opacity:0; z-index:-1; -ms-transform:scale(1); }
	72%	{ left:-40%; opacity:0; z-index:-1; -ms-transform:scale(1); }
	73%	{ left:-40%; opacity:1; z-index:0; -ms-transform:scale(1); }
	100%	{ left:-40%; opacity:1; z-index:0; -ms-transform:scale(1); }
}

@keyframes animationseven {
	0%	{ left:-40%; opacity:1; z-index:0; transform:scale(1); }
	46%	{ left:-40%; opacity:1; z-index:0; transform:scale(1); }
	50%	{ left:-5%; opacity:1; z-index:0; transform:scale(1); }
	56%	{ left:-5%; opacity:1; z-index:0; transform:scale(1); }
	60%	{ left:50%; opacity:1; z-index:0; transform:scale(1.4); }
	66%	{ left:50%; opacity:1; z-index:0; transform:scale(1.4); }
	70%	{ left:105%; opacity:1; z-index:0; transform:scale(1); }
	76%	{ left:105%; opacity:1; z-index:0; transform:scale(1); }
	80%	{ left:160%; opacity:1; z-index:0; transform:scale(1); }
	81%	{ left:160%; opacity:0; z-index:-1; transform:scale(1); }
	82%	{ left:-40%; opacity:0; z-index:-1; transform:scale(1); }
	83%	{ left:-40%; opacity:1; z-index:0; transform:scale(1); }
	100%	{ left:-40%; opacity:1; z-index:0; transform:scale(1); }
}

@-webkit-keyframes animationseven {
	0%	{ left:-40%; opacity:1; z-index:0; -webkit-transform:scale(1); }
	46%	{ left:-40%; opacity:1; z-index:0; -webkit-transform:scale(1); }
	50%	{ left:-5%; opacity:1; z-index:0; -webkit-transform:scale(1); }
	56%	{ left:-5%; opacity:1; z-index:0; -webkit-transform:scale(1); }
	60%	{ left:50%; opacity:1; z-index:0; -webkit-transform:scale(1.4); }
	66%	{ left:50%; opacity:1; z-index:0; -webkit-transform:scale(1.4); }
	70%	{ left:105%; opacity:1; z-index:0; -webkit-transform:scale(1); }
	76%	{ left:105%; opacity:1; z-index:0; -webkit-transform:scale(1); }
	80%	{ left:160%; opacity:1; z-index:0; -webkit-transform:scale(1); }
	81%	{ left:160%; opacity:0; z-index:-1; -webkit-transform:scale(1); }
	82%	{ left:-40%; opacity:0; z-index:-1; -webkit-transform:scale(1); }
	83%	{ left:-40%; opacity:1; z-index:0; -webkit-transform:scale(1); }
	100%	{ left:-40%; opacity:1; z-index:0; -webkit-transform:scale(1); }
}

@-moz-keyframes animationseven {
	0%	{ left:-40%; opacity:1; z-index:0; -moz-transform:scale(1); }
	46%	{ left:-40%; opacity:1; z-index:0; -moz-transform:scale(1); }
	50%	{ left:-5%; opacity:1; z-index:0; -moz-transform:scale(1); }
	56%	{ left:-5%; opacity:1; z-index:0; -moz-transform:scale(1); }
	60%	{ left:50%; opacity:1; z-index:0; -moz-transform:scale(1.4); }
	66%	{ left:50%; opacity:1; z-index:0; -moz-transform:scale(1.4); }
	70%	{ left:105%; opacity:1; z-index:0; -moz-transform:scale(1); }
	76%	{ left:105%; opacity:1; z-index:0; -moz-transform:scale(1); }
	80%	{ left:160%; opacity:1; z-index:0; -moz-transform:scale(1); }
	81%	{ left:160%; opacity:0; z-index:-1; -moz-transform:scale(1); }
	82%	{ left:-40%; opacity:0; z-index:-1; -moz-transform:scale(1); }
	83%	{ left:-40%; opacity:1; z-index:0; -moz-transform:scale(1); }
	100%	{ left:-40%; opacity:1; z-index:0; -moz-transform:scale(1); }
}

@-o-keyframes animationseven {
	0%	{ left:-40%; opacity:1; z-index:0; -o-transform:scale(1); }
	46%	{ left:-40%; opacity:1; z-index:0; -o-transform:scale(1); }
	50%	{ left:-5%; opacity:1; z-index:0; -o-transform:scale(1); }
	56%	{ left:-5%; opacity:1; z-index:0; -o-transform:scale(1); }
	60%	{ left:50%; opacity:1; z-index:0; -o-transform:scale(1.4); }
	66%	{ left:50%; opacity:1; z-index:0; -o-transform:scale(1.4); }
	70%	{ left:105%; opacity:1; z-index:0; -o-transform:scale(1); }
	76%	{ left:105%; opacity:1; z-index:0; -o-transform:scale(1); }
	80%	{ left:160%; opacity:1; z-index:0; -o-transform:scale(1); }
	81%	{ left:160%; opacity:0; z-index:-1; -o-transform:scale(1); }
	82%	{ left:-40%; opacity:0; z-index:-1; -o-transform:scale(1); }
	83%	{ left:-40%; opacity:1; z-index:0; -o-transform:scale(1); }
	100%	{ left:-40%; opacity:1; z-index:0; -o-transform:scale(1); }
}

@-ms-keyframes animationseven {
	0%	{ left:-40%; opacity:1; z-index:0; -ms-transform:scale(1); }
	46%	{ left:-40%; opacity:1; z-index:0; -ms-transform:scale(1); }
	50%	{ left:-5%; opacity:1; z-index:0; -ms-transform:scale(1); }
	56%	{ left:-5%; opacity:1; z-index:0; -ms-transform:scale(1); }
	60%	{ left:50%; opacity:1; z-index:0; -ms-transform:scale(1.4); }
	66%	{ left:50%; opacity:1; z-index:0; -ms-transform:scale(1.4); }
	70%	{ left:105%; opacity:1; z-index:0; -ms-transform:scale(1); }
	76%	{ left:105%; opacity:1; z-index:0; -ms-transform:scale(1); }
	80%	{ left:160%; opacity:1; z-index:0; -ms-transform:scale(1); }
	81%	{ left:160%; opacity:0; z-index:-1; -ms-transform:scale(1); }
	82%	{ left:-40%; opacity:0; z-index:-1; -ms-transform:scale(1); }
	83%	{ left:-40%; opacity:1; z-index:0; -ms-transform:scale(1); }
	100%	{ left:-40%; opacity:1; z-index:0; -ms-transform:scale(1); }
}

@keyframes animationeight {
	0%	{ left:-40%; opacity:1; z-index:0; transform:scale(1); }
	56%	{ left:-40%; opacity:1; z-index:0; transform:scale(1); }
	60%	{ left:-5%; opacity:1; z-index:0; transform:scale(1); }
	66%	{ left:-5%; opacity:1; z-index:0; transform:scale(1); }
	70%	{ left:50%; opacity:1; z-index:0; transform:scale(1.4); }
	76%	{ left:50%; opacity:1; z-index:0; transform:scale(1.4); }
	80%	{ left:105%; opacity:1; z-index:0; transform:scale(1); }
	86%	{ left:105%; opacity:1; z-index:0; transform:scale(1); }
	90%	{ left:160%; opacity:1; z-index:0; transform:scale(1); }
	91%	{ left:160%; opacity:0; z-index:-1; transform:scale(1); }
	92%	{ left:-40%; opacity:0; z-index:-1; transform:scale(1); }
	93%	{ left:-40%; opacity:1; z-index:0; transform:scale(1); }
	100%	{ left:-40%; opacity:1; z-index:0; transform:scale(1); }
}

@-webkit-keyframes animationeight {
	0%	{ left:-40%; opacity:1; z-index:0; -webkit-transform:scale(1); }
	56%	{ left:-40%; opacity:1; z-index:0; -webkit-transform:scale(1); }
	60%	{ left:-5%; opacity:1; z-index:0; -webkit-transform:scale(1); }
	66%	{ left:-5%; opacity:1; z-index:0; -webkit-transform:scale(1); }
	70%	{ left:50%; opacity:1; z-index:0; -webkit-transform:scale(1.4); }
	76%	{ left:50%; opacity:1; z-index:0; -webkit-transform:scale(1.4); }
	80%	{ left:105%; opacity:1; z-index:0; -webkit-transform:scale(1); }
	86%	{ left:105%; opacity:1; z-index:0; -webkit-transform:scale(1); }
	90%	{ left:160%; opacity:1; z-index:0; -webkit-transform:scale(1); }
	91%	{ left:160%; opacity:0; z-index:-1; -webkit-transform:scale(1); }
	92%	{ left:-40%; opacity:0; z-index:-1; -webkit-transform:scale(1); }
	93%	{ left:-40%; opacity:1; z-index:0; -webkit-transform:scale(1); }
	100%	{ left:-40%; opacity:1; z-index:0; -webkit-transform:scale(1); }
}

@-moz-keyframes animationeight {
	0%	{ left:-40%; opacity:1; z-index:0; -moz-transform:scale(1); }
	56%	{ left:-40%; opacity:1; z-index:0; -moz-transform:scale(1); }
	60%	{ left:-5%; opacity:1; z-index:0; -moz-transform:scale(1); }
	66%	{ left:-5%; opacity:1; z-index:0; -moz-transform:scale(1); }
	70%	{ left:50%; opacity:1; z-index:0; -moz-transform:scale(1.4); }
	76%	{ left:50%; opacity:1; z-index:0; -moz-transform:scale(1.4); }
	80%	{ left:105%; opacity:1; z-index:0; -moz-transform:scale(1); }
	86%	{ left:105%; opacity:1; z-index:0; -moz-transform:scale(1); }
	90%	{ left:160%; opacity:1; z-index:0; -moz-transform:scale(1); }
	91%	{ left:160%; opacity:0; z-index:-1; -moz-transform:scale(1); }
	92%	{ left:-40%; opacity:0; z-index:-1; -moz-transform:scale(1); }
	93%	{ left:-40%; opacity:1; z-index:0; -moz-transform:scale(1); }
	100%	{ left:-40%; opacity:1; z-index:0; -moz-transform:scale(1); }
}

@-o-keyframes animationeight {
	0%	{ left:-40%; opacity:1; z-index:0; -o-transform:scale(1); }
	56%	{ left:-40%; opacity:1; z-index:0; -o-transform:scale(1); }
	60%	{ left:-5%; opacity:1; z-index:0; -o-transform:scale(1); }
	66%	{ left:-5%; opacity:1; z-index:0; -o-transform:scale(1); }
	70%	{ left:50%; opacity:1; z-index:0; -o-transform:scale(1.4); }
	76%	{ left:50%; opacity:1; z-index:0; -o-transform:scale(1.4); }
	80%	{ left:105%; opacity:1; z-index:0; -o-transform:scale(1); }
	86%	{ left:105%; opacity:1; z-index:0; -o-transform:scale(1); }
	90%	{ left:160%; opacity:1; z-index:0; -o-transform:scale(1); }
	91%	{ left:160%; opacity:0; z-index:-1; -o-transform:scale(1); }
	92%	{ left:-40%; opacity:0; z-index:-1; -o-transform:scale(1); }
	93%	{ left:-40%; opacity:1; z-index:0; -o-transform:scale(1); }
	100%	{ left:-40%; opacity:1; z-index:0; -o-transform:scale(1); }
}

@-ms-keyframes animationeight {
	0%	{ left:-40%; opacity:1; z-index:0; -ms-transform:scale(1); }
	56%	{ left:-40%; opacity:1; z-index:0; -ms-transform:scale(1); }
	60%	{ left:-5%; opacity:1; z-index:0; -ms-transform:scale(1); }
	66%	{ left:-5%; opacity:1; z-index:0; -ms-transform:scale(1); }
	70%	{ left:50%; opacity:1; z-index:0; -ms-transform:scale(1.4); }
	76%	{ left:50%; opacity:1; z-index:0; -ms-transform:scale(1.4); }
	80%	{ left:105%; opacity:1; z-index:0; -ms-transform:scale(1); }
	86%	{ left:105%; opacity:1; z-index:0; -ms-transform:scale(1); }
	90%	{ left:160%; opacity:1; z-index:0; -ms-transform:scale(1); }
	91%	{ left:160%; opacity:0; z-index:-1; -ms-transform:scale(1); }
	92%	{ left:-40%; opacity:0; z-index:-1; -ms-transform:scale(1); }
	93%	{ left:-40%; opacity:1; z-index:0; -ms-transform:scale(1); }
	100%	{ left:-40%; opacity:1; z-index:0; -ms-transform:scale(1); }
}

@keyframes animationnine {
	0%	{ left:160%; opacity:0; z-index:-1; transform:scale(1); }
	1%	{ left:-40%; opacity:0; z-index:-1; transform:scale(1); }
	2%	{ left:-40%; opacity:1; z-index:0; transform:scale(1); }
	66%	{ left:-40%; opacity:1; z-index:0; transform:scale(1); }
	70%	{ left:-5%; opacity:1; z-index:0; transform:scale(1); }
	76%	{ left:-5%; opacity:1; z-index:0; transform:scale(1); }
	80%	{ left:50%; opacity:1; z-index:0; transform:scale(1.4); }
	86%	{ left:50%; opacity:1; z-index:0; transform:scale(1.4); }
	90%	{ left:105%; opacity:1; z-index:0; transform:scale(1); }
	96%	{ left:105%; opacity:1; z-index:0; transform:scale(1); }
	100%	{ left:160%; opacity:1; z-index:0; transform:scale(1); }
}

@-webkit-keyframes animationnine {
	0%	{ left:160%; opacity:0; z-index:-1; -webkit-transform:scale(1); }
	1%	{ left:-40%; opacity:0; z-index:-1; -webkit-transform:scale(1); }
	2%	{ left:-40%; opacity:1; z-index:0; -webkit-transform:scale(1); }
	66%	{ left:-40%; opacity:1; z-index:0; -webkit-transform:scale(1); }
	70%	{ left:-5%; opacity:1; z-index:0; -webkit-transform:scale(1); }
	76%	{ left:-5%; opacity:1; z-index:0; -webkit-transform:scale(1); }
	80%	{ left:50%; opacity:1; z-index:0; -webkit-transform:scale(1.4); }
	86%	{ left:50%; opacity:1; z-index:0; -webkit-transform:scale(1.4); }
	90%	{ left:105%; opacity:1; z-index:0; -webkit-transform:scale(1); }
	96%	{ left:105%; opacity:1; z-index:0; -webkit-transform:scale(1); }
	100%	{ left:160%; opacity:1; z-index:0; -webkit-transform:scale(1); }
}

@-moz-keyframes animationnine {
	0%	{ left:160%; opacity:0; z-index:-1; -moz-transform:scale(1); }
	1%	{ left:-40%; opacity:0; z-index:-1; -moz-transform:scale(1); }
	2%	{ left:-40%; opacity:1; z-index:0; -moz-transform:scale(1); }
	66%	{ left:-40%; opacity:1; z-index:0; -moz-transform:scale(1); }
	70%	{ left:-5%; opacity:1; z-index:0; -moz-transform:scale(1); }
	76%	{ left:-5%; opacity:1; z-index:0; -moz-transform:scale(1); }
	80%	{ left:50%; opacity:1; z-index:0; -moz-transform:scale(1.4); }
	86%	{ left:50%; opacity:1; z-index:0; -moz-transform:scale(1.4); }
	90%	{ left:105%; opacity:1; z-index:0; -moz-transform:scale(1); }
	96%	{ left:105%; opacity:1; z-index:0; -moz-transform:scale(1); }
	100%	{ left:160%; opacity:1; z-index:0; -moz-transform:scale(1); }
}

@-o-keyframes animationnine {
	0%	{ left:160%; opacity:0; z-index:-1; -o-transform:scale(1); }
	1%	{ left:-40%; opacity:0; z-index:-1; -o-transform:scale(1); }
	2%	{ left:-40%; opacity:1; z-index:0; -o-transform:scale(1); }
	66%	{ left:-40%; opacity:1; z-index:0; -o-transform:scale(1); }
	70%	{ left:-5%; opacity:1; z-index:0; -o-transform:scale(1); }
	76%	{ left:-5%; opacity:1; z-index:0; -o-transform:scale(1); }
	80%	{ left:50%; opacity:1; z-index:0; -o-transform:scale(1.4); }
	86%	{ left:50%; opacity:1; z-index:0; -o-transform:scale(1.4); }
	90%	{ left:105%; opacity:1; z-index:0; -o-transform:scale(1); }
	96%	{ left:105%; opacity:1; z-index:0; -o-transform:scale(1); }
	100%	{ left:160%; opacity:1; z-index:0; -o-transform:scale(1); }
}

@-ms-keyframes animationnine {
	0%	{ left:160%; opacity:0; z-index:-1; -ms-transform:scale(1); }
	1%	{ left:-40%; opacity:0; z-index:-1; -ms-transform:scale(1); }
	2%	{ left:-40%; opacity:1; z-index:0; -ms-transform:scale(1); }
	66%	{ left:-40%; opacity:1; z-index:0; -ms-transform:scale(1); }
	70%	{ left:-5%; opacity:1; z-index:0; -ms-transform:scale(1); }
	76%	{ left:-5%; opacity:1; z-index:0; -ms-transform:scale(1); }
	80%	{ left:50%; opacity:1; z-index:0; -ms-transform:scale(1.4); }
	86%	{ left:50%; opacity:1; z-index:0; -ms-transform:scale(1.4); }
	90%	{ left:105%; opacity:1; z-index:0; -ms-transform:scale(1); }
	96%	{ left:105%; opacity:1; z-index:0; -ms-transform:scale(1); }
	100%	{ left:160%; opacity:1; z-index:0; -ms-transform:scale(1); }
}

@keyframes animationten {
	0%	{ left:105%; opacity:1; z-index:0; transform:scale(1); }
	6%	{ left:105%; opacity:1; z-index:0; transform:scale(1); }
	10%	{ left:160%; opacity:1; z-index:0; transform:scale(1); }
	11%	{ left:160%; opacity:0; z-index:-1; transform:scale(1); }
	12%	{ left:-40%; opacity:0; z-index:-1; transform:scale(1); }
	13%	{ left:-40%; opacity:1; z-index:0; transform:scale(1); }
	76%	{ left:-40%; opacity:1; z-index:0; transform:scale(1); }
	80%	{ left:-5%; opacity:1; z-index:0; transform:scale(1); }
	86%	{ left:-5%; opacity:1; z-index:0; transform:scale(1); }
	90%	{ left:50%; opacity:1; z-index:0; transform:scale(1.4); }
	96%	{ left:50%; opacity:1; z-index:0; transform:scale(1.4); }
	100%	{ left:105%; opacity:1; z-index:0; transform:scale(1); }
}

@-webkit-keyframes animationten {
	0%	{ left:105%; opacity:1; z-index:0; -webkit-transform:scale(1); }
	6%	{ left:105%; opacity:1; z-index:0; -webkit-transform:scale(1); }
	10%	{ left:160%; opacity:1; z-index:0; -webkit-transform:scale(1); }
	11%	{ left:160%; opacity:0; z-index:-1; -webkit-transform:scale(1); }
	12%	{ left:-40%; opacity:0; z-index:-1; -webkit-transform:scale(1); }
	13%	{ left:-40%; opacity:1; z-index:0; -webkit-transform:scale(1); }
	76%	{ left:-40%; opacity:1; z-index:0; -webkit-transform:scale(1); }
	80%	{ left:-5%; opacity:1; z-index:0; -webkit-transform:scale(1); }
	86%	{ left:-5%; opacity:1; z-index:0; -webkit-transform:scale(1); }
	90%	{ left:50%; opacity:1; z-index:0; -webkit-transform:scale(1.4); }
	96%	{ left:50%; opacity:1; z-index:0; -webkit-transform:scale(1.4); }
	100%	{ left:105%; opacity:1; z-index:0; -webkit-transform:scale(1); }
}

@-moz-keyframes animationten {
	0%	{ left:105%; opacity:1; z-index:0; -moz-transform:scale(1); }
	6%	{ left:105%; opacity:1; z-index:0; -moz-transform:scale(1); }
	10%	{ left:160%; opacity:1; z-index:0; -moz-transform:scale(1); }
	11%	{ left:160%; opacity:0; z-index:-1; -moz-transform:scale(1); }
	12%	{ left:-40%; opacity:0; z-index:-1; -moz-transform:scale(1); }
	13%	{ left:-40%; opacity:1; z-index:0; -moz-transform:scale(1); }
	76%	{ left:-40%; opacity:1; z-index:0; -moz-transform:scale(1); }
	80%	{ left:-5%; opacity:1; z-index:0; -moz-transform:scale(1); }
	86%	{ left:-5%; opacity:1; z-index:0; -moz-transform:scale(1); }
	90%	{ left:50%; opacity:1; z-index:0; -moz-transform:scale(1.4); }
	96%	{ left:50%; opacity:1; z-index:0; -moz-transform:scale(1.4); }
	100%	{ left:105%; opacity:1; z-index:0; -moz-transform:scale(1); }
}

@-o-keyframes animationten {
	0%	{ left:105%; opacity:1; z-index:0; -o-transform:scale(1); }
	6%	{ left:105%; opacity:1; z-index:0; -o-transform:scale(1); }
	10%	{ left:160%; opacity:1; z-index:0; -o-transform:scale(1); }
	11%	{ left:160%; opacity:0; z-index:-1; -o-transform:scale(1); }
	12%	{ left:-40%; opacity:0; z-index:-1; -o-transform:scale(1); }
	13%	{ left:-40%; opacity:1; z-index:0; -o-transform:scale(1); }
	76%	{ left:-40%; opacity:1; z-index:0; -o-transform:scale(1); }
	80%	{ left:-5%; opacity:1; z-index:0; -o-transform:scale(1); }
	86%	{ left:-5%; opacity:1; z-index:0; -o-transform:scale(1); }
	90%	{ left:50%; opacity:1; z-index:0; -o-transform:scale(1.4); }
	96%	{ left:50%; opacity:1; z-index:0; -o-transform:scale(1.4); }
	100%	{ left:105%; opacity:1; z-index:0; -o-transform:scale(1); }
}

@-ms-keyframes animationten {
	0%	{ left:105%; opacity:1; z-index:0; -ms-transform:scale(1); }
	6%	{ left:105%; opacity:1; z-index:0; -ms-transform:scale(1); }
	10%	{ left:160%; opacity:1; z-index:0; -ms-transform:scale(1); }
	11%	{ left:160%; opacity:0; z-index:-1; -ms-transform:scale(1); }
	12%	{ left:-40%; opacity:0; z-index:-1; -ms-transform:scale(1); }
	13%	{ left:-40%; opacity:1; z-index:0; -ms-transform:scale(1); }
	76%	{ left:-40%; opacity:1; z-index:0; -ms-transform:scale(1); }
	80%	{ left:-5%; opacity:1; z-index:0; -ms-transform:scale(1); }
	86%	{ left:-5%; opacity:1; z-index:0; -ms-transform:scale(1); }
	90%	{ left:50%; opacity:1; z-index:0; -ms-transform:scale(1.4); }
	96%	{ left:50%; opacity:1; z-index:0; -ms-transform:scale(1.4); }
	100%	{ left:105%; opacity:1; z-index:0; -ms-transform:scale(1); }
}

